.App-card-title {
  margin: 0 0 8px 0;
  font-size: 24px;
  font-weight: 300;
}

.App-poster-image {
  width: 185px;
  height: 278px;
}

.App-backdrop-image {
  height: 343px;
}

.App-content-text-color {
  color: #4d4d4d;
}

.App-secondary-text-color {
  color: #888888;
}

.App-card-secondary-content {
  margin: 0 0 8px 0;
}

.App-modal-poster {
  margin: 35px 15px 30px 15px;
}

.App-modal-backdrop-alpha {
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.5) 0%);
}

.App-modal-content {
  font-size: 18px;
}

.App-modal-content h3:first-of-type {
  margin-bottom: 0;
}

.App-modal-content h5:first-of-type {
  margin-top: 0;
}

.App-modal-movie-date {
  font-size: 18px;
}

.modal {
  width: 90%;
  max-width: 1280px;
}

.modal-content {
  padding: 0 !important;
}

.modal-content h4:first-of-type {
  display: none;
}

.modal-container {
  width: 90%;
  margin: 10px auto;
}