/* Variables */
$media-max-mobile: 767px;
$content-text-color: #4d4d4d;
$secondary-text-color: #888888;
$title-color: #fff;
$title-background-color: #26a69a;

/* Shared */
.App-content-text-color {
  color: $content-text-color;
}

.App-secondary-text-color {
  color: $secondary-text-color;
}